<div class="cogumelo-card">

    <div class="top-infos"
        style="display: flex; border: 3px solid rgba(51, 36, 9, 0.918); background-color: rgb(255, 205, 144); padding: 5px 0 10px 0; min-height: 30px; justify-content: center; align-items: center; flex-flow: row; justify-content: space-between; width: 100%;">

        <div class="cogumelo__name"
            style=" color: black; background-color: rgb(255, 205, 144);padding: 0px 10px; font-weight: bold; font-size: 115%;  ">
            {{ cogumelo.name }}
        </div>

        <div class="cogumelo__number"
            style=" color: black; background-color: rgb(255, 205, 144); padding: 0px 10px; font-weight: bold; font-size: 115%;  ">
            N {{ leadingZero(cogumelo.number) }}

        </div>

    </div>

    <div class="cogumelo__categoria" style="display: flex; width: 100%; justify-content: right; background-color: rgb(255, 205, 144); margin: 1rem 0; ">
        <div class="cogumelo__categorias" style="background-color: brown; padding: 9px; margin-left: 10px; border-radius: 20px;"
         *ngFor="let categoria of cogumelo.categorias"
         [class]= "'cogumelo-card__categoria--' + categoria.toLowerCase()" >
         {{ categoria }}
        </div>
    </div>



    <div class="cogumelo__image" style="background-color: rgb(255, 205, 144); padding: 10px;">

        <img [src]="cogumelo.image" alt="">

    </div>

    <div class="more">
        
    </div>








</div>