
<div class="cogumelo-card">
    <div class="cogumelo__image" style="padding: 10px;">
        <div class="shadow">
        <img [src]="cogumelo.image" alt="">
    </div>
    </div>

    <div class="cogumelo__number" >
       N {{ leadingZero(cogumelo.number) }} 
        
    </div>

    <div class="cogumelo__name">
        {{ cogumelo.name }}
    </div>

    <div class="cogumelo__categoria" style="display: flex; gap:0.5rem;">
        <div class="cogumelo__categorias"
         *ngFor="let categoria of cogumelo.categorias"
         [class]= "'cogumelo-card__categoria--' + categoria.toLowerCase()" >
         {{ categoria }}
        </div>
    </div>


</div>
