h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 450%;
}
.photo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    background: url("https://cdn.shopify.com/s/files/1/0031/4756/3081/files/iStock-514574820_1024x1024.jpg?v=1616511087");
    background-size: cover;
    background-repeat: no-repeat;
}


